/**
 * Base and high-level wrapper elements
 */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  // Remove default margin.
  margin: 0;

  font: $base-font-weight #{$base-font-size/16*100}%/#{$base-line-height/$base-font-size} $base-font-family;
  text-align: $start;
  color: $base-text-color;
  background: $body-background;
  width: 100%;
  height: 100%;
}

body.neos-inspector-panel-open,
body.neos-navigate-panel-open {
  margin-left: 0!important;
  margin-right: 0!important;
}

.siteWrapper {
  position: relative;
  width: $layout-width;
  max-width: $layout-max-width;

  @if $centered-layout {
    margin-left: auto;
    margin-right: auto;
  }
}
